<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context ="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        ">


    <bean id="accountDao" class="demo.ioc.persisitence.AcountDaoImpl" />
    <bean id="account" class="demo.ioc.domain.Account">
        <property name="username" value="lwl"/>
    </bean>
    <bean id="accountService" class="demo.ioc.service.AccountService">
        <property name="acountDao" ref="accountDao"></property>
    </bean>



    <context:component-scan base-package="demo.ioc"/>
</beans>