<!doctype html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel="shortcut icon" href="images/favicon.ico"/>
		<title>Umbra &#8211; Homepage 5 | HTML Ecommerce Template</title>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="css/settings.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="all" />
		<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" media="all" />
		<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all" />
		<link rel="stylesheet" href="css/elegantIcon.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
		<link rel="stylesheet" href="css/owl.theme.css" type="text/css" media="all" />
		<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="all"/>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
    <div id="app">

		<div class="noo-spinner">
			<div class="sk-rotating-plane"></div>
		</div>
		<div class="site">
			<header class="noo-header header-1 header-transparent">
				<div class="navbar-wrapper">
					<div class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-logo">
								<a href="http://localhost:3000/main" class="custom-logo-link">
									<img src="images/logo.png" alt="Logo">
								</a>
								<button data-target=".nav-collapse" class="btn-navbar noo_icon_menu icon_menu"></button>
							</div>
						
						
						</div>
					</div>
				</div>
				<div class="search-header">
					<div class="remove-form"></div>
					<div class="container">
						<form class="form-horizontal noo-umbra-searchform">
							<label class="note-search">Type and Press Enter to Search</label>
							<input type="search" name="s" class="form-control" value="" placeholder="Enter keyword to search..."/>
							<button type="submit" class="noo-search-submit"><i class="icon_search"></i></button>
						</form>
					</div>
				</div>
			</header>
			<div id="main">
				<div class="section">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12 p-0">
								<div id="rev_slider" class="rev_slider fullwidthabanner">
									<ul>
										<li data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Circ.easeOut" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Slide">
											<img src="images/slider/slider_5.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />

											<div class="tp-caption tp-resizeme" data-x="10" data-y="10" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:right;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:300;" data-start="500" data-responsive_offset="on">
												<img src="images/slider/cat_1.png" alt="" /> 
											</div>

											<div class="tp-caption tp-resizeme" data-x="right" data-hoffset="100" data-y="10" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:left;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:300;" data-start="500" data-responsive_offset="on">
												<img src="images/slider/cat_2.png" alt="" />
											</div>

											<div class="tp-caption tp-resizeme" data-x="center" data-hoffset="" data-y="center" data-voffset="-120" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="y:100px;opacity:0;s:1200;e:Power4.easeOut;" data-transform_out="opacity:0;s:300;" data-start="1500" data-responsive_offset="on">
												<img src="images/slider/logo.png" alt="" />
											</div>

											<div class="tp-caption caption-7 tp-resizeme" data-x="center" data-hoffset="" data-y="center" data-voffset="-10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:100px;opacity:0;s:1200;e:Power4.easeOut;" data-transform_out="opacity:0;s:300;" data-start="1900" data-splitin="none" data-splitout="none" data-responsive_offset="on">
												 Pet store
											</div>
											
											<div class="tp-caption caption-8 tp-resizeme" id="slide-5-layer-5" data-x="center" data-hoffset="" data-y="center" data-voffset="52" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:100px;opacity:0;s:1200;e:Power4.easeOut;" data-transform_out="opacity:0;s:300;" data-start="2300" data-splitin="none" data-splitout="none" data-responsive_offset="on">
												Welcome to Petstore Seller
											</div>

											<div class="tp-caption rev-btn-blue tp-resizeme" data-x="center" data-hoffset="-85" data-y="center" data-voffset="142" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(47, 69, 109, 1.00);" data-transform_in="x:-100px;opacity:0;s:1000;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="3000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
												SHOW NOW > 
											</div>
											
											<div class="tp-caption rev-btn-transparent tp-resizeme" data-x="center" data-hoffset="85" data-y="center" data-voffset="142" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(47, 69, 109, 1.00);bc:rgba(47, 69, 109, 1.00);br:30px 30px 30px 30;" data-transform_in="x:100px;opacity:0;s:1000;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="3000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
												VIEW DETAIL 
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="section pt-10 pb-10">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="noo-section-title">
									<h3><span>我的商品</span></h3>
									<p>My product</p>
								</div>
							














								<div class="noo-product-grid isotope-grid-post" data-filter=".bags" >
                                    	<div class="noo-product-item style-2 col-md-3 col-sm-6 bags" v-for="(item,index) in product_list">
										<div class="noo-product-inner" >
											<div class="noo-product-thumbnail" >
												<a href="shop-detail.html">
													<img :src="item.img_url" alt="" />
													<img :src="item.img_url" class="second-img" alt="" />
												</a>
												<div class="noo-product-meta" >
													<div class="compare-button"  >
													    <span class="glyphicon glyphicon-trash" aria-hidden="true" v-on:click="deleteItem(index,item)"></span>
													</div>
													
												</div>
											</div>
											<h3><a href="shop-detail.html">{{item.name}}</a></h3>
											<div class="shop-loo-after-item">
												<div class="price">
													&#36;{{item.price}}        <h3><a href="shop-detail.html">库存：{{item.number}}</a></h3>

												</div>
												
											</div>
										
										</div>
									</div>
                                </div>





								
							</div>
			
						</div>
						<div class="text-center">
							<a class="custom_link" href="http://localhost:3001/additem">添加商品<i class="fa fa-angle-right"></i></a>
						</div>
					
					</div>




























	<div id="main">
				<div class="section mt-10 mb-3">
					<div class="container">
						<div class="noo-section-title">
									<h3><span>我的商品流水</span></h3>
									<p>My Bill</p>
								</div>
							
						<div class="blog-masonry" v-for="item in Bills">
							<div class="blog-masonry-item col-md-4 col-sm-6">
								<div class="blog-inner">
									<a href="blog-detail.html" class="blog-thumbnail">
										<img :src="item.imgUrl" alt="" />
										<i class="fa fa-link post-type-icon"></i>
									</a>
									<div class="blog-content">
										<h3><a href="blog-detail.html">关于{{item.userid}}的订单</a></h3>
										<span class="noo-blog-meta">
											<span class="author">
												<i class="icon_pencil-edit"></i>
												<a  href="#">{{item.orderdate}}</a>
											</span>
											<span class="comments-link">
												<a href="#">交易额{{item.totalprice}}</a>
											</span>
										</span>
										<div class="noo-excerpt">
											<p>{{item.userid}}在您的店铺中购买了总价值{{item.totalprice}}的{{item.itemid}}</p>
											<a class="custom_link"  v-on:click="send(item.itemid)">
												确认发货<i class="fa fa-angle-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>














































					
				</div>
				
			
				<div class="section section-partner">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12 p-0">
								<div class="noo-partner-wrap">
									<ul class="noo-partner" data-item="5">
										<li class="noo-partner-item">
											<a href="#">
												<img src="images/partner/partner_1.png" alt="" />
												<img src="images/partner/partner_1.png" alt="" /> 
											</a>
										</li>
										<li class="noo-partner-item">
											<a href="#">
												<img src="images/partner/partner_2.png" alt="" />
												<img src="images/partner/partner_2.png" alt="" /> 
											</a>
										</li>
										<li class="noo-partner-item">
											<a href="#">
												<img src="images/partner/partner_3.png" alt="" />
												<img src="images/partner/partner_3.png" alt="" /> 
											</a>
										</li>
										<li class="noo-partner-item">
											<a href="#">
												<img src="images/partner/partner_4.png" alt="" />
												<img src="images/partner/partner_4.png" alt="" /> 
											</a>
										</li>
										<li class="noo-partner-item">
											<a href="#">
												<img src="images/partner/partner_5.png" alt="" />
												<img src="images/partner/partner_5.png" alt="" /> 
											</a>
										</li>
										<li class="noo-partner-item">
											<a href="#">
												<img src="images/partner/partner_6.png" alt="" />
												<img src="images/partner/partner_6.png" alt="" /> 
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section section-simplenews-3">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="noo-simplenews style-4">
									<div class="noo-simplenews-header">
										<h3 class="noo-mail-title white">Sign up for</h3>
									</div>
									<form class="noo-simplenews-form">
										<div class="form-fields">
											<input type="email" name="EMAIL" placeholder="Your email address" required />
											<input type="submit" value="subscribe" />
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="wrap-footer">
				<div class="footer-top pb-5">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6 footer-item">
								<div class="widget widget-noo-infomation">
									<h4 class="widget-title">Umbra Furniture</h4>
									<p class="info-desc">
										We are a global housewares product design company. We bring thought and creativity to everyday items through original design.
									</p>
									<ul class="noo-infomation-attr">
										<li>
											<span class="text-icon">A</span>
											<address>1001 Milacian Crest Street, Paris France </address>
										</li>
										<li>
											<span class="text-icon">T</span>
											<a href="#">+(084) 888 - 6789</a>
										</li>
										<li>
											<span class="text-icon">M</span>
											<a class="phone-text" href="mailto:Contact@Umbra.com" target="_top">Contact@Umbra.com</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 footer-item">
								<div class="widget">
									<h4 class="widget-title">Opening Time</h4>
									<ul class="noo-opening-time">
										<li>
											Mon - Fri: 8AM - 10PM
										</li>
										<li>
											Sat: 9AM-8PM
										</li>
										<li>
											Sun: Closed
										</li>
										<li>
											We Work All The Holidays
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 footer-item">
								<div class="widget widget_nav_menu">
									<h4 class="widget-title">About</h4>
									<ul class="menu">
										<li><a href="#">About Us</a></li>
										<li><a href="#">Shopping Guide</a></li>
										<li><a href="#">Delivery Information</a></li>
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="#">Our Store</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 footer-item">
								<div class="widget widget_nav_menu">
									<h4 class="widget-title">Account</h4>
									<ul class="menu">
										<li><a href="#">My Account</a></li>
										<li><a href="#">Wishlist</a></li>
										<li><a href="#">Order Tracking</a></li>
										<li><a href="#">Shipping Info</a></li>
										<li><a href="#">Return Policy</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom pb-5 text-center">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<a href="#"><img src="images/payment_logo.png" alt="" /></a>
								<p class="mt-1">@ 2016. Developed by TK-Themes</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a> 

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery-migrate.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="js/modernizr-2.7.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="js/jquery.prettyPhoto.init.min.js"></script>
		<script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
		<script type="text/javascript" src="js/off-cavnas.js"></script>
		<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
		<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.init.js"></script>
		<script type="text/javascript" src="js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="js/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>

		<script type="text/javascript" src="js/extensions/revolution.extension.video.min.js"></script>
		<script type="text/javascript" src="js/extensions/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="js/extensions/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="js/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="js/extensions/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="js/extensions/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="js/extensions/revolution.extension.migration.min.js"></script>
		<script type="text/javascript" src="js/extensions/revolution.extension.parallax.min.js"></script>
	</div>

    </body>

    <script>
var vm = new Vue({
  el: '#app',
  data: {
	account:'',
	password:'',

	product_list:[

	
	],
	temp:'',

	Bills:[
	],

	

  },
  created(){
	  //载入值
      console.log('created');
	  this.initDate();

  },
  methods:{

  send(name){
	   console.log("send");
	   alert("已经将 "+ name  + " 发货")
  },



	  deleteItem(index,item){
		  self =this;
		  console.log(item);
		  console.log('delete');
		  var settings = {
			"async": true,
			"crossDomain": true,
			"url": "http://localhost:8090/deleteItem",
			"method": "POST",
			"headers": {
				"content-type": "application/json",
				"cache-control": "no-cache",
				"postman-token": "980bb4dc-4e56-badf-669c-a557833b0d27"
			},
			"processData": false,
			"data": JSON.stringify({"itemid":item.name,"productid":null,"listprice":null,"unitcost":null,"supplier":null,"status":null,"attr1":null,"attr2":null,"attr3":null,"attr4":null,"attr5":null,"number":null,"imgUrl":null,"productname":null,"suppname":null}
)

			}

			$.ajax(settings).done(function (response) {
			console.log(response);
			});
			self.product_list.splice(0,index+1);

	  },




	  initDate(){

		  var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://localhost:3001/get_session",
  "method": "GET",
  "headers": {
    "accept": "application/json, text/javascript, */*; q=0.01",
 
  },
  "processData": false,
  "contentType": false,
  "mimeType": "multipart/form-data",
}
var self = this;
$.ajax(settings).done(function (response) {
  self.temp = response;
  console.log(self.temp);
  window.name = self.temp;
  self.getCommodity();
  self.getBills();
});



	



	  },

	getCommodity(){
		self= this;

		var settings = {
			"async": true,
			"crossDomain": true,
			"url": "http://localhost:8090/getItemListBySupplierId?supplierId=" + self.temp ,
			"method": "GET",
			"headers": {
				"content-type": "application/json",
				"cache-control": "no-cache",
				"postman-token": "b63c1c89-a174-74ad-c59f-e51ecd1fea35"
			},
			"processData": false,
			}
			$.ajax(settings).done(function (response){
			console.log(response);
			temp = response.data.itemList;
			for(var i =0; i < temp.length; i++){
				self.product_list.push(	{
					img_url:temp[i].imgUrl,
					name:temp[i].itemid,
					price:temp[i].listprice,
					number:temp[i].number,//库存
				})
			}
			console.log(self.product_list)
			});
	},


	getBills(){

		self =this;
			var settings = {
			"async": true,
			"crossDomain": true,
			"url": "http://localhost:8090/getSupplierOrders?suppid=" + self.temp,
			"method": "GET",
			"headers": {
				"content-type": "application/json",
				"cache-control": "no-cache",
				"postman-token": "c39835fe-cc49-e8bd-4bd5-c2799b4243c2"
			},
			"processData": false,
			}

			$.ajax(settings).done(function (response) {
			console.log(response);
			self.Bills = response.data.result;
			});
	},

	  clickAdd(){
		  console.log('click add button')
		  	console.log('load');
			
	  },
	  singin(){
			window.location.href="main?account="+this.account;   
	  }

	  
  }
  
})
</script>
</html>